<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="diesel" class = "com.klinnovations.DieselEngine"/>
    <bean id="petrol" class = "com.klinnovations.PetrollEngine"/>
    <bean id="car" class = "com.klinnovations.Car">
    <constructor-arg ref="diesel" />
    
    </bean>

</beans>
